# Environments & Secrets
.env
venv/
.venv/
env/
# Python cache
*.pyc
__pycache__/
*.pyo
*.pyd
# Database (user data)
*.db
*.db-journal*
*.sqlite
*.sqlite3
# SQLite WAL files
*-wal
*-shm
# OS generated
.DS_Store
Thumbs.db
# IDE files (optional)
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
# Build files (optional)
dist/
build/
*.egg-info/